.root {
    -fx-background-color: 171718;
}

.save-buttons-box {
    -fx-background-color: #171718;
    -fx-border-color: #333334;
}

.row {
    -fx-background-color: #171718;
    -fx-border-color: #333334;
}

.row-label {
    -fx-text-fill: white;
    -fx-font-family: SansSerif;
    -fx-font-size: 15;
    -fx-font-weight: bolder;
}

.row-numeric-data {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.row-boolean-data .box {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.row-name-data {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

/* button style */
.button {
    -fx-background-color:
            linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #f4930d),
            linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
            linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    /*linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),*/
    /*linear-gradient(#020b02, #db3069),*/
    /*linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),*/
    /*linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);*/
    /*linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),*/
    /*linear-gradient(#020b02, #3a3a3a),*/
    /*linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),*/
    /*linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);*/
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 1,1,1,1;
    -fx-padding: 2 17 2 17;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.button Text {
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}
