.root {

}

.menu-box {
    -fx-background-color: #151818;
    -fx-border-color: #282a2d;
}

.left-box {
    -fx-background-color: #121415;
    -fx-border-color: #282a2d;
}

.right-box {
    -fx-background-color: #121415;
    -fx-border-color: #282a2d;
}

.map-box {
    -fx-background-color: #1c1f20;
    -fx-border-color: #282a2d;
}

.graph-box {
    -fx-background-color: #1c1f20;
    -fx-border-color: #282a2d;
}

.menu-button {
    -fx-text-fill: white;
    -fx-background-color: #121415;
    -fx-border-color: #282a2d;
}

.menu-label {
    -fx-text-fill: white;
}